@font-face {
  font-family: Bebas-Neue;
  src: url(../fonts/bebas-neue.ttf);
}

body {
  background-color: black;
  color: white;
}

header, main, footer {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1A1618;
  display: flex;
}

main {
  display: block;
}

main {
  justify-content: space-evenly;
}

footer {
  padding: 50px 0px;
  color: gray;
}

header .title {
  width: 50%;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

.search-bar input {
  background-color: black;
  border: 1px solid gray;
  color: white;
  font-size: 20px;
}

.search-bar input:focus {
  outline: none !important;
  border: 1px solid #c04335;
}

.movie {
  width: 190px;
  height: 320px;
}

.movie img {
  position: absolute;
  width: 190px;
}

.movie img {
  opacity: 1;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}

.movie:hover img{
  opacity: .2;
  -webkit-transform: scale(1.05,1.07);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1.05,1.07);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  overflow: hidden;
}

.movie .content {
  display: none;
  position: absolute;
  width: 200px;
}

.movie:hover .content {
  display: inline;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: none;
  justify-content: space-between;
  margin-top: 30px;
}

#page-numbers a {
  margin: 0px 3px;
}