@font-face {
  font-family: Bebas-Neue;
  src: url(../fonts/bebas-neue.ttf);
}

body {
  background-color: black;
  color: white;
}

header, main, footer {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1A1618;
  display: flex;
}

main {
  justify-content: space-evenly;
}

footer {
  padding: 50px 0px;
  color: gray;
}

header .title {
  width: 50%;
}

section {
  max-width: 1000px;
}

.search-bar input {
  background-color: black;
  border: 1px solid gray;
}

.search-bar input:focus {
  outline: none !important;
  border: 1px solid #c04335;
}

.movie img {
  width: 190px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie .description {
  display: none;
}